.s-Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 400;
  padding: 0.25em 1em;

  .s-Header__Logo {
    float: left;
    width: 6em;
  }

  @include media(800px) {
    .s-Header__Logo {
      width: 10em;
    }

  } // @include media(800px)

} // .s-header

.HeaderScroll {
  background: color(black, base, 0.75);
  transition: 1s;

  .s-Header__Logo {
    width: 4em;
    transition: 1s;
  }

  @include media(800px) {
    .s-Header__Logo {
      width: 6em;
    }

  } // @include media(800px)
}
