.s-Header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 400;
  padding-top: 1em;
  padding-bottom: 1em;

  .s-Header__Logo {
    float: left;
    width: 5em;
  }

  @include media(800px) {
    .s-Header__Logo {
      width: 10em;
    }

  } // @include media(800px)

} // .s-header
