<section id="about" class="s-HomeAbout Constrained">
  <div class="s-HomeAbout__Content">
    <h1>Introducing the TGSM Interactive Restroom Trailer!</h1>
    <h3>It is the state-of-the-art interactive restroom trailer that is YOUR TICKET to producing brand lift, sustaining brand loyalty and delivering brand conversions.</h3>
    <p>
      The Tailgating Sports Marketing Digital Interactive Experience restroom trailer is the latest in distinctive brand marketing activations. Our trailer captures leads by connecting with digital interactive screens and games that appeal to Millennials and younger Baby Boomers. We are first in the world to provide immediate interaction with your elusive target audience while instantaneously marketing to the number one client demographic. In addition you will receive a detailed list of captured leads and contact information to market through mobile devices for the next decade.
    </p>
  </div>
</section>
