<section id="callout-2" class="s-Callout s-Callout-2">
  <div class="s-Callout__Overlay">
  </div>
  <div class="s-Callout__Content wow fadeIn">
    <h1>Our Partners</h1>
    <div class="s-Callout__Partners">
      <a href="http://www.nfl.com" target="_blank" class="s-Callout__Logo">
        <img src="images/logos/nfl.svg">
      </a>
      <a href="http://www.nascar.com" target="_blank" class="s-Callout__Logo">
        <img src="images/logos/nascar.svg">
      </a>
      <a href="http://mlb.com" target="_blank" class="s-Callout__Logo">
        <img src="images/logos/mlb.svg">
      </a>
      <a href="http://www.pgatour.com" target="_blank" class="s-Callout__Logo">
        <img src="images/logos/pga.svg">
      </a>
    </div>
  </div>
</section>
