<section id="callout-2" class="s-Callout s-Callout-2">
  <div class="s-Callout__Overlay">
  </div>
  <div class="s-Callout__Content wow fadeIn">
    <p>Visitor dwell times average two minutes in front of branded reactive displays and gaming screens. Your TGSM branded messaging and product information will increase fan engagement, driving higher response rates to your products and calls to action!</p>
  </div>
</section>
