<section id="contact" class="s-HomeContact">
  <h1 class="p-Home__Title wow pulse">Contact Us</h1>
  <form class="s-HomeContact__Form wow fadeIn">

    <div class="Field">
      <label for="demo--first-name">First Name</label>
      <input id="demo--first-name" Class="Input" type="text" name="first-name" placeholder="First Name">
    </div>

    <div class="Field">
      <label for="demo--last-name">Last Name</label>
      <input id="demo--last-name" type="text" name="last-name" placeholder="Last Name">
    </div>

    <div class="Field">
      <label for="demo--email">Email Address</label>
      <input id="demo--email" type="email" name="email" placeholder="Email Address">
    </div>

    <div class="Field">
      <label for="textArea">Your Message</label>
      <textarea name="message" placeholder="Your Message" id="textArea" cols="30" rows="10"></textarea>
    </div>

    <button type="submit" class="Button Large Primary wow bounceIn">Send Your Message</button>
  </form>
</section>
