<section id="features" class="s-HomeFeatures Constrained">
  <div class="s-HomeFeatures__Introduction">
    <h1 class="p-Home__Title wow pulse">Features</h1>
    <h3 class="wow fadeIn">
      TGSM Interactive Restroom Trailers empower stadiums, tailgating associations, event promoters and venue sponsors to deliver an event experience that is fully immersive, state-of-the-art, and interactive. You provide impactful marketing hooks that connect passionate event goers outside of your venue to multiple concessions inside your event space.
    </h3>
  </div>
  <div class="s-HomeFeatures__Showcase">
    <% data.features.each do |featurelist| %>
      <div class="s-HomeFeatures__Feature wow slideInUp">
        <div class="s-HomeFeatures__FeatureImage">
          <img src="<%= featurelist.image %>">
        </div>
        <h2><%= featurelist.title %></h2>
        <ul>
          <% featurelist.features.each do |feature| %>
            <li>
              <%= feature %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</section>
