<section id="features" class="s-HomeFeatures Constrained">
  <h1>Features</h1>
  <h3>
    TGSM Interactive Restroom Trailers empower stadiums, tailgating associations, event promoters and venue sponsors to deliver an event experience that is fully immersive, state-of-the-art, and interactive. You provide impactful marketing hooks that connect passionate event goers outside of your venue to multiple concessions inside your event space.
  </h3>
  <div class="s-HomeFeatures__Showcase">
    <div class="s-HomeFeatures__Feature">
      <h2>For Venue Owners</h2>
      <div class="s-HomeFeatures__FeatureImage">
        <img src="images/backgrounds/welcome-bg.jpg">
      </div>
      <ul>
        <li>
          Provide a revenue generating opportunity
        </li>
        <li>
          Enhance the attendee event experience outside of the venue
        </li>
        <li>
          Enhance the attendee event experience outside of the venue
        </li>
      </ul>
    </div>
    <div class="s-HomeFeatures__Feature">
      <h2>For Venue Owners</h2>
      <div class="s-HomeFeatures__FeatureImage">
        <img src="images/backgrounds/welcome-bg.jpg">
      </div>
      <ul>
        <li>
          Provide a revenue generating opportunity
        </li>
        <li>
          Enhance the attendee event experience outside of the venue
        </li>
        <li>
          Enhance the attendee event experience outside of the venue
        </li>
      </ul>
    </div>
    <div class="s-HomeFeatures__Feature">
      <h2>For Venue Owners</h2>
      <div class="s-HomeFeatures__FeatureImage">
        <img src="images/backgrounds/welcome-bg.jpg">
      </div>
      <ul>
        <li>
          Provide a revenue generating opportunity
        </li>
        <li>
          Enhance the attendee event experience outside of the venue
        </li>
        <li>
          Enhance the attendee event experience outside of the venue
        </li>
      </ul>
    </div>
  </div>
</section>
