<section id="metrics" class="s-HomeMetrics">
  <h2>Restroom Advertising Metrics</h2>
  <h3>The numbers don't lie…</h3>
  <div class="s-HomeMetrics__Highlights Constrained">
    <% data.metrics.each do |metric| %>
      <div class="s-HomeMetrics__IndividualHighlight">
        <p class="s-HomeMetrics__Percentage">
          <%= metric.percentage %>
        </p>
        <h4><%= metric.title %></h4>
        <p>
          <%= metric.description %>
        </p>
      </div>
    <% end %>
  </div>
</section>
