<section id="metrics" class="s-HomeMetrics">
  <h1 class="p-Home__Title">Restroom Advertising Metrics</h1>
  <h3>The numbers don't lie…</h3>
  <div class="s-HomeMetrics__Highlights Constrained">
    <% data.metrics.each do |metric| %>
      <div class="s-HomeMetrics__IndividualHighlight">
        <p class="s-HomeMetrics__Percentage wow flipInX">
          <span class="CountTo" data-from="0" data-to="<%= metric.percentage %>" data-speed="1600">
            <%= metric.percentage %>
          </span>
          %
        </p>
        <h2 class="wow bounceIn"><%= metric.title %></h2>
        <p class="wow bounceIn">
          <%= metric.description %>
        </p>
      </div>
    <% end %>
  </div>
</section>
