<section id="welcome" class="s-HomeWelcome" data-midnight="transparent">
  <div class="s-HomeWelcome__Overlay">
  </div>
  <div class="s-HomeWelcome__Content wow zoomIn">
    <h1>The Ultimate Tailgating Experience</h1>
    <a class="s-HomeWelcome__VideoPlayer swipebox" rel="vimeo" href="https://vimeo.com/143944952">
      <i class="fa fa-play-circle fa-4x"></i>
      <div class="s-HomeWelcome__PlayLabel">
        Watch The Video
      </div>
    </a>
  </div>
  <div class="s-HomeWelcome__More wow bounceIn">
    <a href="#about"><i class="fa fa-chevron-down"></i></a>
  </div>
</section>
