<section id="welcome" class="s-HomeWelcome">
  <div class="s-HomeWelcome__Overlay">
  </div>
  <div class="s-HomeWelcome__Content">
    <h1>The Ultimate Tailgate Experience</h1>
    <a class="swipebox-video" rel="vimeo" href="http://vimeo.com/29193046">play</a>
  </div>
</section>
