<div class="s-Footer">
  <ul class="s-Footer__Social">
    <li>
      <a href="https://twitter.com/tgsmsportsmktg"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/TailgatingSportsMarketing"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="https://plus.google.com/110235640280049580687/posts"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
      <a href="https://vimeo.com/tailgatingmarketing"><i class="fa fa-vimeo"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/tailgating-sports-marketing"><i class="fa fa-linkedin"></i></a>
    </li>
  </ul>
  <div class="s-Footer__Contact">
    <a href="mailto:info@tailgatingsportsmarketing.com">
      <i class="fa fa-envelope"></i>
      info@tailgatingsportsmarketing.com
    </a>
  </div>
  <div class="s-Footer__Contact">
    <a href="mailto:info@tailgatingsportsmarketing.com">
      <i class="fa fa-phone"></i>
      888-995-2285
    </a>
  </div>
  <div class="s-Footer__Copyright">
    © 2015. Tailgating Sports Marketing. All Rights Reserved.
  </div>
</div>
