.s-HomeFeatures {
  padding: layout(section-padding) layout(gutter);

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0.5em 0;
    margin: 0.5em;
    border-bottom: 1px solid color(white, darkest);
    list-style: none;

    &:last-of-type {
      border: 0;
    }
  }

  .s-HomeFeatures__Showcase {
    padding-top: 2em;
  }

  @include media(800px) {

    .s-HomeFeatures__Showcase {
      @include row;
    }

    .s-HomeFeatures__Feature {
      @include span-columns(4);
      @include omega(3n);
    }

  } // @include media(800px)
} // .s-HomeFeatures
