.s-HomeWelcome {
  position: relative;
  height: 100vh;
  min-height: 25em;
  border-bottom: 4px solid color(primary);
  background: linear-gradient(
                  color(black, base, 0.5),
                  color(black, base, 0),
                  color(black, base, 0.5)),
              image-url('backgrounds/welcome-bg.jpg')
              no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  h1 {
    margin-bottom: 0;
    color: color(white);
    font-size: 3em;
  }

  .s-HomeWelcome__Overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: image-url('backgrounds/bg-pattern.png');
  }

  .s-HomeWelcome__Content {
    position: relative;
    z-index: 200;
    max-width: 400px;
    padding: 35vh 0;
    margin: auto;
  }

  .s-HomeWelcome__VideoPlayer {
    display: block;
    padding: 2em 0;
    color: color(white);
    font-weight: weight(bold);

    &:hover {
      color: color(primary, light);
      text-decoration: none;
    }

    &:active { color: color(primary, lighter); }
  }

  .s-HomeWelcome__PlayLabel {
    font-size: 0.75em;
  }

  @include media(600px) {

    .s-HomeWelcome__Content {
      max-width: 600px;
    }

    h1 {
      font-size: 4em;
    }
  } // @include media(600px)

  @include media(800px) {
    background-attachment: fixed;


    .s-HomeWelcome__Content {
      max-width: 800px;
    }

    h1 {
      font-size: 6em;
    }
  } // @include media(800px)

  @include media(1200px) {
    background-attachment: fixed;

    .s-HomeWelcome__Content {
      max-width: 1200px;
    }

    h1 {
      font-size: 8em;
    }
  } // @include media(1200px)


} // .s-HomeWelcome
