$text_inputs_and_addons: '.InputAddon', $TEXT_INPUTS_LIST;

#{$text_inputs_and_addons} {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  border: 2px solid color(white, darkest);
  border-radius: border(radius);
  background: color(white);

  &::placeholder {
    color: color(gray, base);
  }

  &:focus {
    border-color: color(primary, lightest);
    box-shadow: inset 0 0 3px color(primary, lightest);
    outline: none;
  }
}


.InputAddon {
  background: color(white, darkest);
  font-weight: weight(bold);
}


.InputGroup {
  display: flex;
  flex-direction: row;

  .Button,
  #{$text_inputs_and_addons} {
    margin: 0;
    border-radius: 0;

    &:first-child {
      border-bottom-left-radius: border(radius);
      border-top-left-radius: border(radius);
    }

    &:last-child {
      border-top-right-radius: border(radius);
      border-bottom-right-radius: border(radius);
    }
  }

  .InputAddon:first-child {
    border-right: 0;
  }

  .InputAddon:last-child {
    border-left: 0;
  }
}


.Radio,
.Checkbox {
  position: relative;
  display: block;
  margin: 0 1.5rem 0.5rem 0;
  user-select: none;

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }

  label {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: weight(normal);
    text-transform: none;
    vertical-align: middle;
    cursor: pointer;
  }

  label:before {
    position: relative;
    top: -0.0625rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    margin-right: 0.5rem;
    border: 2px solid color(black, light);
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    content: '';
  }

  input[type="radio"] + label:before {
    border-radius: 500px;
  }

  input[type="radio"]:focus + label,
  input[type="checkbox"]:focus + label {
    color: color(black);

    &:before {
      box-shadow: 0 0 3px 2px color(primary, base, 0.7);
      outline: none;
    }
  }

  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    color: color(black);
  }

  input[type="radio"]:checked + label:before,
  input[type="checkbox"]:checked + label:before {
    border-color: color(primary);
    background: color(primary);
    color: color(white);
    text-align: center;
  }

  input[type="radio"]:checked + label:before {
    content: '\2022'; // Bullet
  }

  input[type="checkbox"]:checked + label:before {
    content: '\2713'; // Checkmark
  }

  // IE8
  @media \0screen {
    input[type="radio"],
    input[type="checkbox"] {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0 auto;
      overflow: visible;
      clip: auto;
      vertical-align: middle;
    }

    input[type="radio"] + label:before,
    input[type="checkbox"] + label:before {
      display: none;
    }
  }
}
